<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azizulhakim.gifsplashscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GifSplashScreen">
        <activity
            android:name=".GoogleSignInActivity"
            android:exported="false"/>
        <activity
            android:name=".VerifyPhoneNumber"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AirPlaneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CycleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BoatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WalkingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>